{% extends 'layout.html' %}

{% block body %}

<div class="row w-100 "> 
    <div class="col-md-6 offset-md-3 text-center">
        <div class="px-3 text-center">
            <h1>Epilepsy Detection</h1>
            <!-- <h4> Using Sentimental Analysis</h4>/ -->
        </div>  
    <form action="/analysis" method="post" class="mt-5">
        <input type="Test" placeholder="Enter the Row Index Here " name="link" id="link" class="form-control form-rounded rounded shadow text-center" required>
        <div class="row">
            <div class="col-4 offset-4">
                <select name="platform" id="platform" class="form-select rounded shadow mt-3  text-center text-muted" required>
                    <option selected><p class="lead">Select Model</p></option>
                    <option value="Svm">SVM</option>
                    <option value="Lstm"> Modified LSTM</option>
                    <!-- <option value="Youtube">BI/LSTM</option> -->
                    <option value="Ann">ANN</option>
                    <option value="Knn">KNN</option>
                    <option value="Logistic">Logistic Regression</option>
                    <!-- <option value="Coursera">Logistic Regression</option>
                    <option value="Coursera">Logistic Regression</option> -->
                </select><br>
            </div>
        </div>
        
        <button class="mt-3 btn btn-success" id="hitashri">Analyse</button>
    </form>
    </div>
</div>

{% endblock %}